Source: graf
Section: utils
Priority: extra
Maintainer: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python:any, quilt
Standards-Version: 3.9.8

Package: graf
Architecture: all
Depends: ${misc:Depends}, python:any, python-commodity, python-libxml2, python-libxslt1, arco-authors (>= 0.20180611)
Description: Graf XML to LaTeX/PDF compiler
 Graf XML to LaTeX/PDF compiler
